*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  /* font-family: 'Akaya Kanadaka', cursive; */
}
/* Colours used in this site */
:root{
  --primary: indianred;
  --seconday: rbga(15, 10, 29,0.849);
  --light: #2f3640;
}

header{
  width: 100%;
  height: 100vh;
}
.nav1{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 0 3px grey;
  text-align: center;
}
.nav1 .left{
  flex-basis: 50%;
  letter-spacing: 2px;
}
.nav1 .left a{
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  margin: 0 5px;
}
